[submodule "reports-react-web"]
	path = reports-react-web
    url = https://github.com/rafagan/reports-react-web.git


[submodule "reports-ws"]
	path = reports-ws
	url = https://github.com/rafagan/reports-ws.git
